<h2></h2>


<br/>



<div style="padding-left: 10%;   text-align: center;">
    <table class="table table-bordered" style="max-width: 1000px;" >
      <thead>
        <tr >
          <th  style="text-align: center" scope="col">ID</th>
          <th style="text-align: center" scope="col">Nombre</th>
          <th  style="text-align: center"scope="col">Numero</th>
          <th style="text-align: center" scope="col">Acciones</th>      
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of misDatos">      
          <td>{{ person.id  }}</td>
          <td>{{ person.name  }}</td>
          <td>{{ person.number  }}</td>
          <td>
              <button type="button"  class="btn btn-default"
                [routerLink]="['/update', person.id]" >
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button> 
              
              <button  type="button" class="btn btn-default" 
                      (click)="borrarDatosComp(person)" >
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button> 
          </td>
        </tr>        
      </tbody>
    </table>
  </div>